<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Temp</ion-card-title>
        <h1>{{tem}}</h1>
      </ion-card-header>
    
      <ion-card-content>
    
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Hum</ion-card-title>
        <h1>{{hum}}</h1>
      </ion-card-header>
    
      <ion-card-content>
   
      </ion-card-content>
    </ion-card>
    
  

    <ion-card>
    <ion-input   #num ></ion-input>     
    <ion-button color="success" (click) ="click(num.value)">Success</ion-button>
    </ion-card>
    <ion-item>
      <ion-label>111 &nbsp;{{Timer1Starthr}} : {{Timer1Startmin}}</ion-label>
      <ion-datetime displayFormat=" " pickerFormat = "HH:mm" (ionChange)="getTimeStart1(timeSelectStart1.value)" #timeSelectStart1></ion-datetime>
    </ion-item>

 
      <ion-label>222 {{Timer1Stophr}} : {{Timer1Stopmin}}</ion-label>

    <ion-datetime  displayFormat=" " pickerFormat = "HH:mm" (ionChange)="getTimeStop1(timeSelectStop1.value)" #timeSelectStop1></ion-datetime></ion-item>


</ion-content>
